<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dpw.lyl.join.good.job.system.server.mapper.SysLoginInfoMapper">

	<resultMap type="SysLoginInfo" id="SysLoginInfoResult">
		<id     property="infoId"        column="info_id"           />
		<result property="userName"      column="user_name"         />
		<result property="status"        column="status"            />
		<result property="ipaddr"        column="ipaddr"            />
		<result property="msg"           column="msg"               />
		<result property="accessTime"    column="access_time"       />
	</resultMap>

	<insert id="insertSysLoginInfo" parameterType="SysLoginInfo">
		insert into sys_LoginInfo (user_name, status, ipaddr, msg, access_time)
		values (#{userName}, #{status}, #{ipaddr}, #{msg}, sysdate())
	</insert>
	
	<select id="selectSysLoginInfoList" parameterType="SysLoginInfo" resultMap="SysLoginInfoResult">
		select info_id, user_name, ipaddr, status, msg, access_time from sys_LoginInfo
		<where>
			<if test="ipaddr != null and ipaddr != ''">
				AND ipaddr like concat('%', #{ipaddr}, '%')
			</if>
			<if test="status != null and status != ''">
				AND status = #{status}
			</if>
			<if test="userName != null and userName != ''">
				AND user_name like concat('%', #{userName}, '%')
			</if>
			<if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
				and date_format(access_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
			</if>
			<if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
				and date_format(access_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
			</if>
		</where>
		order by info_id desc
	</select>
	
	<delete id="deleteSysLoginInfoByIds" parameterType="Long">
 		delete from sys_LoginInfo where info_id in
 		<foreach collection="array" item="infoId" open="(" separator="," close=")">
 			#{infoId}
        </foreach> 
 	</delete>
    
    <update id="cleanSysLoginInfo">
        truncate table sys_LoginInfo
    </update>
    
</mapper> 